<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
            <div class=" col-md-12">                         
              <table class="table table-bordered table-striped table-hover">
                <tr>
                  <th class="text-left col-12"> Author: </th> 
                </tr>
                <tr class="d-flex">
                    <td class="text-left col-12"><input type="text" class="form-control" name="author" value="<%= surveys.Author %>" required></td> 
                  </tr>
                  <tr>
                    <th class="text-left col-12"> Title: </th> 
                  </tr>
                  <tr class="d-flex">
                    <td class="text-left col-12"><input type="text" class="form-control" name="title" value="<%= surveys.Title %>" required></td>  
                  </tr>
                  <tr>
                    <th class="text-left col-12"> MC Questions: </th>
                  </tr>
                    <% for(let count = 0; count < surveys.MCQuestions.length; count++) { %>
                      <!-- <form class="form" method="post"> -->
                        <tr><td class="text-left col-12"><input hidden="hidden" class="form-control" name="questionType" value="MC"></td></tr>
                        <tr><td class="text-left col-12"><input hidden="hidden" class="form-control" name="surveyID" value="<%= surveys._id %>"></td></tr>
                      <tr><td class="text-left col-12"><input hidden="hidden" class="form-control" name="mcID" value="<%= surveys.MCQuestions[count]._id %>"></td></tr>
                      <tr><td class="text-left col-12"><input type="text" class="form-control" id="questionMC" name="question" value="<%= surveys.MCQuestions[count].Title %>" required></td></tr>
                      <tr><td class="text-left col-12"><input type="text" class="form-control" id="optionMC1" name="option1" value="<%= surveys.MCQuestions[count].Option1 %>" required ></td></tr> 
                      <tr><td class="text-left col-12"><input type="text" class="form-control" id="optionMC2" name="option2" value="<%= surveys.MCQuestions[count].Option2 %>" required></td></tr>
                      <tr><td class="text-left col-12"><input type="text" class="form-control" id="optionMC3" name="option3" value="<%= surveys.MCQuestions[count].Option3 %>" required></td></tr>
                      <tr><td class="text-left col-12"><input type="text" class="form-control" id="optionMC4" name="option4" value="<%= surveys.MCQuestions[count].Option4 %>" required></td></tr>
                      <tr><td><button type="button" onclick="saveMC()" class="btn btn-success"></i>Save Changes</button></td></tr>
                    <!-- </form> -->
                      <% } %>
                      <tr>
                        <th class="text-left col-12"> TF Questions: </th> 
                      </tr>
                      <% for(let count = 0; count < surveys.TFQuestions.length; count++) { %>
                        <!-- <form class="form" method="post"> -->
                          <tr><td class="text-left col-12"><input hidden="hidden" class="form-control" name="questionType" value="TF"></td></tr>
                          <tr><td class="text-left col-12"><input hidden="hidden" class="form-control" name="surveyID" value="<%= surveys._id %>" ></td></tr>
                          <tr><td class="text-left col-12"><input hidden="hidden" class="form-control" name="tfID" value="<%= surveys.TFQuestions[count]._id %>"></td></tr>
                        <tr><td class="text-left col-12"><input type="text" class="form-control" name="question"id="questionTF" name="title" value="<%= surveys.TFQuestions[count].Title %>" required></td></tr>
                      <tr><td class="text-left col-12"><input type="text" class="form-control" name="option1"  id="optionTF1" value="<%= surveys.TFQuestions[count].Option1 %>" required readonly="readonly"></td></tr>
                    <tr> <td class="text-left col-12"><input type="text" class="form-control" name="option2" id="optionTF2" value="<%= surveys.TFQuestions[count].Option2 %>" required readonly="readonly"></td></tr>
                    <tr><td><button type="button" onclick="saveTF()"class="btn btn-success"></i> Save Changes</button></td></tr>
                  <!-- </form> -->
                        <% } %>
                  </table>
                  <input id="questionsTF" name="questionsTF" value="" hidden="hidden">
                  <input id="questionsMC" name="questionsMC" value="" hidden ="hidden">
              <br>
              <button type="submit" class="btn btn-primary"></i> Submit</button>
              <a href="/surveys" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
              <br>
              <br>
              <br>
              <br>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
            let questionsTF = [];
      let questionsMC =[];
      function saveMC(){
        let mcObject = {
          Title: document.getElementById("questionMC").value,
          Option1: document.getElementById("optionMC1").value,
          Option1Total: 0,
          Option2: document.getElementById("optionMC2").value,
          Option2Total: 0,
          Option3: document.getElementById("optionMC3").value,
          Option3Total: 0,
          Option4: document.getElementById("optionMC4").value,
          Option4Total: 0
        }
        console.log(mcObject);
        questionsMC.push(mcObject);
        console.log(questionsMC);
        document.getElementById("questionsMC").value = JSON.stringify(questionsMC);
      }
      function saveTF(){
        let tfObject = {
          Title: document.getElementById("questionTF").value,
          Option1: document.getElementById("optionTF1").value,
          Option1Total: 0,
          Option2: document.getElementById("optionTF2").value,
          Option2Total: 0,
          
        }
        console.log(tfObject);
        questionsTF.push(tfObject);
        console.log(questionsTF);
        document.getElementById("questionsTF").value = JSON.stringify(questionsTF);

      }
    </script>
  

<% include ../partials/footer.ejs %>