<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<div class="container">
  <h1><%= title %></h1>
  <form class="form" method="post">
    <label for="author" class=""> Author: <%= surveys.Author %> </label>
    <label for="" class=""> Title: <%= surveys.Title %> </label>
    <br />
    <table>
      <tr>
        <th class="text-left col-12">Questions: </th> 
      </tr>
        <% for(let count = 0; count < surveys.MCQuestions.length; count++) { %>
          <tr class="d-flex">
            <% if(count% 4 == 0 && count > 0){ %>
              <td class="text-left col-12"><input type="text" class="form-control" name="questionMC" value="<%= surveys.MCQuestions[count] %>" hidden="hidden" ></td> 
              <%} else if(count% 5 == 0 && count == 0) {%>
                <th class="text-left col-12" class="form-control" name="questionMC"> <%= surveys.MCQuestions[count] %> </th> 
              <%} else {%>
                <th class="text-left col-12" name="questionMC"> <%= surveys.MCQuestions[count] %>
                  <input type="radio" class="form-control" name="questionMC" value="<%= surveys.MCQuestions[count] %>"></th> 
                <% } %>
        </tr>
          <% } %>
          <% for(let count = 0; count < surveys.TFQuestions.length; count++) { %>
            <tr class="d-flex">
              <% if(count% 3 == 0 && count > 0){ %>
            <td class="text-left col-12"><input type="text" class="form-control" name="questionTF" value="<%= surveys.TFQuestions[count] %>" hidden="hidden"></td> 
            <%} else if(count% 4 == 0 && count == 0) {%>
              <th class="text-left col-12" class="form-control" name="questionTF"><%= surveys.TFQuestions[count] %></th> 
            <%} else {%>
              <th class="text-left col-12" name="questionTF"><%= surveys.TFQuestions[count] %>
                <input type="text" class="form-control" name="questionTF" value="<%= surveys.TFQuestions[count] %>"></th>
              <% } %>
          </tr>
            <% } %>
      </table>
        <button type="submit" class="btn btn-primary"></i> Submit</button>
        <a href="/surveys" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
  </form>
</div>

<% include ../partials/footer.ejs %>
